.navbar {
  font-size: 1.5rem;
  font-weight: 100;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 0 1px rgba(1, 0, 0, 0.1);
  padding-left: 0;
  padding-right: 0;
}

.navbar .nav-link {
  color: #262729;
}

.navbar .nav-link:hover {
  color: #229fa5;
}
